
.logo{
    width:200px;
    height:200px;
    display:block;
    margin-left:auto;
     margin-right:auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
   justify-content: space-around;    
    flex-wrap: wrap;  
  border: 1px solid black;
  background-color: black;
}

ul li a {
  display: block;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
   font-family: Arial, sans-serif;
}

ul li a:hover:not(.active) {
  color: red;
}

ul li a.active {
  color:red;
}

.tbox {
    width: auto;                         
    height: 300px;                      
    background-image: url('Pics/titlepage.jpg');   
    background-size: cover;              
    background-position: center;        
    background-repeat: no-repeat;
    position: relative;  
    display: flex;                
}

.ttext {
    color: white;                         
    font-size: 40px;                     
   font-family: "Brush Script MT", cursive;
   font-weight:300;
    position: absolute;                   
    top: 30%;                              
    left: 40px;                            
    transform: translateY(-50%);          
    line-height: 1.2;                     
}

.products_container {
  margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.product_box {
    width: 250px;
    border: 1px solid white;
    padding: 15px;
    text-align: center;
    background: #D9D9D9;
    border-radius: 10px;
}

.product_box img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 8px; 
}

.product_box h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.product_box p {
    margin: 5px 0;
}

.price {
    font-weight: bold;
    margin: 8px 0;
}

.cart_btn {
    margin-top: 10px;
    padding: 10px 15px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;      
    font-size: 14px;
}
.cart_btn:hover {
    background-color: red;
}



footer{
    background-color:black;
    padding: 10px 10px;
    display: flex;                    
    justify-content: space-around;    
    flex-wrap: wrap;                  
    font-family: Arial, sans-serif;
    margin-top: 30px;
}
.footer-left{
    color:white;
}
.icon{
font-size:20px;
}
.email{
    border:1px solid black;
    padding: 5px 5px; 
}
.sub_btn{
    
    background-color: red;
    color:white;
     padding: 5px 5px;
     
  
}
.sub_btn:hover{
  color:black;

}

    