.logo{
    width:200px;
    height:200px;
    display:block;
    margin-left:auto;
     margin-right:auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
   justify-content: space-around;    
    flex-wrap: wrap;  
  border: 1px solid black;
  background-color: black;
}

ul li a {
  display: block;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
   font-family: Arial, sans-serif;
}

ul li a:hover:not(.active) {
  color: red;
}

ul li a.active {
  color:red;
}



.box {
    width: 700px;
    padding: 7px;  
    color:grey;
}




footer{
    background-color:black;
    padding: 10px 10px;
    display: flex;                    
    justify-content: space-around;    
    flex-wrap: wrap;                  
    font-family: Arial, sans-serif;
width:100%;
}
.footer-left{
    color:white;
}
.icon{
font-size:20px;
}
.email{
    border:1px solid black;
    padding: 5px 5px; 
}
.sub_btn{
    
    background-color: red;
    color:white;
     padding: 5px 5px; 
}

.sub_btn:hover {
    color: black;
}




body {
    font-family: Verdana;
    text-align: center;
    margin:0;

}

.box {
    width: 200px;
    padding: 7px;
    margin: 14px auto;  
    border: 1px solid black;
    position: relative; 
}



.box input {
    width: 160px;
    border:1px solid white;
     padding-left: 30px;   
}
.left-icon {
    position: absolute;
    left: -25px;              
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #444;
}

.login_button {
    background: black;
    color: white;
    width: 150px;
    height: 40px;
    margin: 25px auto;
    cursor: pointer;
}
.login_button:hover{
background-color: red;
}

.signup {
    margin-top: 30px;
}

.signup_link {
    color: blue;
    cursor: pointer;
}