h1{ text-align:center;
font-family: "georgia",serif, sans serif;}

body{ text-align:center;}

input{
     height:30px;
}
.payment{
height:35px;
width:250px;
background-color: blue;
font-family: "copperplate",fantasy,sans serif;
color:white;
border-style:none;
font-size: 20px;}
.payment:hover{
     background-color: red;
}

.logo{
width:150px;
    height:100px;
    display:block;
    margin-left:auto;
     margin-right:auto;
}

ul{
 list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
   justify-content: space-around;    
    flex-wrap: wrap;  
  border: 1px solid black;
  background-color: black;
}

ul li a{
 display: block;
  color: white;
  padding: 20px 20px;
  text-decoration: none;
   font-family: Arial, sans-serif;
}

ul li a:hover:not(.active){
color:red;
}

footer{
     margin-top: 40px;
background-color:black;
height:250px;
    padding: 10px 10px;
    display: flex;                    
    justify-content: space-around;    
    flex-wrap: wrap;                  
    font-family: Arial, sans-serif;
     vertical-align: text-bottom;
   
}

.footer-left{
color:white;
}

.icon{
font-size:20px;
}

.email{
border:1px solid black;
padding: 5px 5px;
}

.sub_btn{
 background-color: red;
    color:white;
     padding: 5px 5px; 
}

